<%= render 'static_pages/home/search_area' %>

<div class="container">
  <div class="search_link_home" id="search_link">
    <%= render 'static_pages/home/search_prefecture_link' %>
  </div>
</div>

<%= render 'layouts/footer' %>