<% provide(:title, "Log in") %>

<div class='container custom-form-container'>
  <%= form_for @login_form, url: login_path do |f| %>
    <div class="email">
    <label>Eメール</label>
    <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="password">
    <label>パスワード</label>
    <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="remember_me">
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  <% end %>
  <%= link_to 'パスワードを忘れた', new_password_reset_path, class: 'forget_password' %>
</div>
