<div class="password_reset_form">
  <%= form_for(@restaurant, url: password_reset_path(params[:id])) do |f| %>

  <%= f.hidden_field :email %>

  <div class="form_error_message">
    <% f.object.errors.messages[:password].each do |e| %>
      <li><%= 'パスワード' + e %>
    <% end %>
  </div>
  <div class="password">
    <label>パスワード</label>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form_error_message">
    <% f.object.errors.messages[:password_confirmation].each do |e| %>
      <li><%= 'パスワード確認' + e %>
    <% end %>
  </div>
  <div class="password_confirmation">
    <label>パスワード確認</label>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

    <div class="actions">
      <%= f.submit "Update password", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>