<div class="container custom-form-container">
  <div class="new_password_form">
    <%= form_for @password_forget_form, as: 'restaurant', url: password_resets_path do |f| %>
      <div class="email">
        <label>Eメール</label>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "パスワード再設定メールを送信", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>