<%= form_with(model: restaurant_course, local: true, url: restaurant_course_index_path, class: 'restaurant_course_form') do |form| %>

  <% form.object.errors.messages[:name].each do |e| %>
    <div class="alert alert-danger">
      <li><%= 'コース名' + e %>
    </div>
  <% end %>
  <div class="name">
    <label>コース名<font class="asterisk">＊</font></label>
    <%= form.text_field :naame, class: 'form-control', required: true %>
  </div>

  <% form.object.errors.messages[:price].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '価格' + e %>
    </div>
  <% end %>
  <div class="price">
    <label>価格</label>
    <%= form.number_field :price, class: 'form-control' %>
  </div>

  <% form.object.errors.messages[:time_limit].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '制限時間' + e %>
    </div>
  <% end %>
  <div class="time_limit">
    <label>制限時間</label>
    <%= form.number_field :time_limit, class: 'form-control' %>
  </div>

  <% form.object.errors.messages[:people_num].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '人数' + e %>
    </div>
  <% end %>
  <div class="people_num">
    <label>人数</label>
    <%= form.text_field :people_num, class: 'form-control' %>
  </div>

  <% form.object.errors.messages[:bottomless].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '飲み放題' + e %>
    </div>
  <% end %>
  <div class="bottomless">
    <label>飲み放題</label>
    <%= form.check_box :bottomless %>
  </div>

  <% form.object.errors.messages[:content].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '内容' + e %>
    </div>
  <% end %>
  <div class="content">
    <label>内容</label>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <% form.object.errors.messages[:notes].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '注意事項' + e %>
    </div>
  <% end %>
  <div class="notes">
    <label>注意事項</label>
    <%= form.text_area :notes, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
