<div class="drop_down">
  <ul id="normal" class="dropmenu">
    <li><div class="menu_button">写真</div>
      <ul class="items">
        <li><%= link_to 'すべて', get_picture_restaurant_path(@restaurant, type_id: 0), remote: true %></li>
        <li><%= link_to '料理', get_picture_restaurant_path(@restaurant, type_id: 1), remote: true %></li>
        <li><%= link_to '内観', get_picture_restaurant_path(@restaurant, type_id: 2), remote: true %></li>
        <li><%= link_to '外観', get_picture_restaurant_path(@restaurant, type_id: 3), remote: true %></li>
        <li><%= link_to 'メニュー', get_picture_restaurant_path(@restaurant, type_id: 4), remote: true %></li>
      </ul>
    </li>
    <li><div class="menu_button">メニュー</div>
      <ul class="items">
        <li><%= link_to '料理', get_menu_restaurant_path(@restaurant, type_id: 1), remote: true %></li>
        <li><%= link_to 'ランチ', get_menu_restaurant_path(@restaurant, type_id: 2), remote: true %></li>
        <li><%= link_to 'ドリンク', get_menu_restaurant_path(@restaurant, type_id: 3), remote: true %></li>
      </ul>
    </li>
  </ul>
  <div id="drop_down_content"></div>
</div>

<script type="text/javascript">
  $(function() {
    $(".items").css("display","none");
    $(".menu_button").on("click", function() {
      $(this).next().slideToggle(300);
    });
  });
</script>
