<div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript">
  if(<%= @restaurant.latitude %> != null && <%= @restaurant.longitude %> != null){
    function initMap() {
      var restaurant ={lat: <%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: restaurant
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);
  
      var contentString = '住所：<%= @address %>';
      var infowindow = new google.maps.InfoWindow({
          content: contentString
      });
  
      var marker = new google.maps.Marker({
          position: restaurant,
          map: map,
          title: contentString
      });
  
      marker.addListener('click', function() {
          infowindow.open(map, marker);
      });
    }
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyC8l2Eh8zAtS62Lw8hY1mU-iO68Gaw9C6Y&callback=initMap">
</script>