<%= form_with(model: restaurant_menu, local: true, url: restaurant_menu_index_path, class: 'restaurant_menu_form') do |form| %>

  <% form.object.errors.messages[:name].each do |e| %>
    <div class="alert alert-danger">
      <li><%= 'メニュー名' + e %>
    </div>
  <% end %>
  <div class="name">
    <label>メニュー名<font class="asterisk">＊</font></label>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <% form.object.errors.messages[:price].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '価格' + e %>
    </div>
  <% end %>
  <div class="price">
    <label>価格</label>
    <%= form.number_field :price, class: 'form-control' %>
  </div>

  <% form.object.errors.messages[:type].each do |e| %>
    <div class="alert alert-danger">
      <li><%= 'タイプ' + e %>
    </div>
  <% end %>
  <div class="type_id">
    <label>タイプ<font class="asterisk">＊</font></label>
    <%= form.collection_select :type_id, RestaurantMenuType.all, :id, :name, {}, class: 'form-control', required: true %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
