<%= form_with(model: @search_form, local: true, as: 'search', url: search_restaurants_path, method: :get, class: 'form') do |form| %>
  <div class="form-row">
    <div class="form-group col-xs-5 col-sm-6">
      <%= form.text_field :name, class: 'form-control', placeholder: ' 店名' %>
    </div>
    <div class="form-group col-xs-5 col-sm-5">
      <%= form.collection_select :category_id, Category.all, :id, :name, {:prompt => "カテゴリ"}, class: 'form-control' %>
    </div>
    <div class="form-group col-xs-2 col-sm-1">
      <%= form.submit '探す', class: 'btn btn-primary' %>
    </div>
  </div>
  <%= form.hidden_field :latitude, :value => nil, class: "latitude" %>
  <%= form.hidden_field :longitude, :value => nil, class: "longitude" %>
<% end %>

