.drop_down{
  .dropmenu{
    *zoom: 1;
    list-style-type: none;
    width: 100%;
    margin: 5px auto 30px;
    padding: 0;
  }
  .dropmenu:before, .dropmenu:after{
    content: "";
    display: table;
  }
  .dropmenu:after{
    clear: both;
  }
  .dropmenu li{
    position: relative;
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .dropmenu li a{
    display: block;
    margin: 0;
    padding: 15px 0 11px;
    background: #fff;
    color: #000;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
  }
  .dropmenu li div{
    cursor: default;
    display: block;
    margin: 0;
    padding: 15px 0 11px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    line-height: 1;
    text-decoration: none;
  }
  .dropmenu li ul{
    list-style: none;
    position: absolute;
    z-index: 100;
    top: 100%;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
  }
  .dropmenu li ul li{
    width: 100%;
  }
  .dropmenu li ul li a{
    padding: 13px 15px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: left;
  }
}