.restaurant_form{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  p{
    text-align: right;
  }
  .asterisk{
    color: red;
  }

  div{
    margin-bottom: 15px;
  }
  .address{
    .form-row{
      .form-group{
        padding: 0;
      }
    }
  }
  li{
    list-style: none;
  }
  .image{
    input{
      height: 42px;
    }
  }
  textarea{
    height: 10em !important;
  }
  .actions{
    text-align: center;
  }
  .budget{
    .budgets{
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      label{
        margin: 0;
      }
      .form-control{
        margin-bottom: 5px;
      }
    }
  }
}


