.menus{
  width: 100%;
  .type_name{
    font-size: 22px;
  }
  .menu{
    border-top: 1px solid #ccc;
    border-buttom: 1px solid #ccc;
    height: 3.1em;
    p{
      margin: 0.8em 0.8em 0.8em 0;
      .name{
        padding: 0;
      }
      .price{
        float: right;
      }
    }
  }
}
