.pictures{
  width: 100%;
  .type_name{
    font-size: 22px;
  }
  .picture{
    .image{
      position: relative;
      overflow: hidden;
      height: 25rem;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .title{
      text-align: center;
    }
  }
}
