.restaurants{
  .restaurant{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    .image{
      text-align: center;
      background-color: #fff;
      img{
        max-width: 100%;
      }
      
      /* PC、タブレット用デザイン */
      @media only screen and (min-width:700px){
        img{
          max-height: 500px;
        }
      }
       
      /* スマホ用デザイン */
      @media screen and (max-width:375px) {
        img{
          max-height: 230px;
        }
      }
    }
  
    h1.name{
      font-size: 22px;
      margin: 20px 0 7px 15px;
    }
    label.category{
      padding: 3px;
      font-size: 11px;
      margin-left: 15px;
      background-color: #999;
      color: #fff;
      border-radius: 3px;
    }
  
    .profile{
      border: 1px solid #ccc;
      border-radius: 4px;
      margin: 0 15px 15px 15px;
      padding: 0.5em;
      p{
        margin: 0px;
        word-break: break-all;
      }
    }
  }
  p.msg{
    text-align: center;
  }
}