.sideber{
  padding: 15px;
  border: 1px solid #ccc;
  .button{
    cursor: pointer;
    font-weight: normal;
    padding: 4px;
    border: 1.5px solid #aaa;
    border-radius: 5px;
    background-color: white;
    color: #aaa;
  }
  input:checked + .button{
    background-color: #aaa;
    color: white;
  }
  input:checked ~ #hint_text{
    display: none;
  }
  input:checked ~ #hint_text{
    display: none;
  }
  .display_switch_button{
    display: none;
  }
}