<%= @restaurant.name %>様\
この度は sign board にご登録いただきありがとうございます。

※このメールにお心当たりの無い場合は、お手数ですが、このままこのメールを破棄してください。

下のリンクをクリックして、アカウントを有効化して下さい。
<%= activation_url(id: @restaurant.activation_token, email: @restaurant.email) %>
