<h3>sign board</h3>
<p>
  <%= @restaurant.name %>様<br>
  この度は sign board にご登録いただきありがとうございます。<br>
</p>
<p>※このメールにお心当たりの無い場合は、お手数ですが、このままこのメールを破棄してください。

<p>下のリンクをクリックして、アカウントを有効化して下さい。

<%= link_to "Activate", activation_url(id: @restaurant.activation_token, email: @restaurant.email) %>
