<h3>Password reset</h3>

<p>パスワードのリセットするには、以下のリンクをクリックして下さい</p>

<%= link_to "Reset password", edit_password_reset_url(@restaurant.password_reset_token,
                                                      email: @restaurant.email) %>

<p>
  このリンクの制限時間は2時間です。
</p>
<p>
  パスワードの再設定を要求していない場合は、このメールを無視してください。<br>
  パスワードの変更は行われません。
</p>
