パスワードのリセットするには、以下のリンクをクリックして下さい

<%= edit_password_reset_url(@restaurant.password_reset_token, email: @restaurant.email) %>

このリンクの制限時間は2時間です。

パスワードの再設定を要求していない場合は、このメールを無視してください。<br>
パスワードの変更は行われません。


