@import "bootstrap-sprockets";
@import "bootstrap";
@import 'dimensions';

html{
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

.main{
  top: 46px;
  position: relative;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: black;
}

.custom-form-container{
  margin-top: 20px;
  max-width: 700px;
}