@import 'dimensions';
@import 'colors';

footer{
  height: $footer_height;
  width: 100%;
  display: table;
  top: 0;
  margin-top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $footer_color;
  text-align: center;
  .container{
    display: table-cell;
    vertical-align: middle;
    a{
      color: #555;
    }
  }
}