@import 'dimensions';
@import 'colors';

header{
  height: $header_height;
  width: 100%;
  display: table;
  top: 0;
  margin-top: 0;
  position: fixed;
  right: 0;
  left: 0;
  background-color: $header_color;
  z-index: $header_z_index;
  .header_nav{
    position: fixed;
    .logo{
      float: left;
      margin-left: 15px;
      font-size: 1.7em;
      text-transform: uppercase;
      letter-spacing: -1px;
      padding: 6px;
      a{
        padding-left: 15px;
        display: table-cell;
        vertical-align: middle;
        font-size: 26px;
      }
    }
    .send{
      float: right;
      margin-top: 11px;
      margin-right: 10px;
      font-size: 1em;
    }
    .logout{
      float: right;
      margin-top: 11px;
      margin-right: 10px;
      font-size: 1em;
    }
    .login{
      float: right;
      margin-top: 11px;
      margin-right: 10px;
      font-size: 1em;
    }
    .signup{
      float: right;
      margin-top: 11px;
      margin-right: 10px;
      font-size: 1em;
    }
  }
}