<%= form_with(model: message, local: true, url: restaurant_message_index_path, class: 'message_form') do |form| %>

  <% form.object.errors.messages[:restaurants].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '画像' + e %>
    </div>
  <% end %>
  <%= form.hidden_field :restaurant_id, :value => @current_restaurant.id %>

  <% form.object.errors.messages[:image].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '画像' + e %>
    </div>
  <% end %>
  <div class="image">
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <% form.object.errors.messages[:text].each do |e| %>
    <div class="alert alert-danger">
      <li><%= 'テキスト' + e %>
    </div>
  <% end %>
  <div class="text">
    <%= form.text_area :text, class: 'form-control', placeholder: '800字以内でご記入ください' %>
  </div>

  <div class="actions">
    <%= form.submit '投稿', class: 'btn btn-primary' %>
  </div>
<% end %>
