<div class="message">
  <% if message.image_url %>
    <div class="image">
      <%= image_tag message.image_url %>
    </div>
  <% end %>
  <div class="sender_name">
    <label><%= message.restaurant.name %></label>
  </div>
  <div class="text">
    <%= simple_format(message.text) %>
  </div>
  <p class="times">
    <%= message.created_at.strftime("%Y-%m-%d %H:%M") %>
  </p>
</div>

