.new_password_form{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;

  div{
    margin-bottom: 15px;
  }
  .remember_me{
    text-align: right;
  }

  .actions{
    text-align: center;
  }
}

