.form{
  .form-row{
    .form-group{
      padding: 0;
      .form-control, .btn{
        width: 100%;
        height: 42px;
        border-radius: 0px;
      }
      .btn{
        color: black;
        background-color: #fb8;
        border: none;
      }
    }
  }
  .actions{
    text-align: center;
  }
}
 