.search_link_home{
  padding: 15px;
  border: 1px solid #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  .title{
    font-weight: bolder;
    font-size: 16px;
    margin: 0.5em;
  }
  a{
    color: #f96;
    margin-left: 0.25em;
    margin-right: 0.25em;
    white-space: nowrap;
  }
  a:hover{
    text-decoration: none;
    color: #fc9;
  }
  .area{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    p{
      font-weight: bolder;
      margin: 0;
    }
    .prefecture_links{
      margin: 5px;
    }
  }
  .search_prefecture_link{
    a{
      font-weight: bolder;
      display: inline-block;
      margin-left: 0.75em;
      margin-right: 0.75em;
    }
  }
  .search_municipality_link{
    a{
      display: inline-block;
      margin-bottom: 0.5em;
      margin-left: 0.75em;
      margin-right: 0.75em;
    }
  }
  nav{
    text-align: center;
    .pagination{
      text-align: center;
      .page-item{
        span{
          color: #f96;
        }
        a{
          color: #f96;
        }
      }
      .active{
        span{
          color: white;
          background-color: #fc9;
        }
        a{
          color: white;
          background-color: #fc9;
          border-color: #fc9;
        }
      }
    }
  }
}

