.search_form_background{
  background-size: cover;
  position: relative;
  height: 80vw;
  max-height: 480px;
  .slide {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 80vw;
    width: 100vw;
    max-height: 480px;
    z-index: -1;
  }
  .costom_container{
    max-width: 700px !important;
    margin: auto;
    padding-top: 162px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @media only screen and (max-width: 600px){
      padding-top: 27vw;
    }
    p{
      font-size: 22px;
      text-align: center;
      color: white;
      @media only screen and (max-width: 480px){
        font-size: 4.5vw;
      }
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }
  }
}

