<%= form_with(model: restaurant_picture, local: true, url: restaurant_picture_index_path, class: 'restaurant_course_form') do |form| %>

  <% form.object.errors.messages[:title].each do |e| %>
    <div class="alert alert-danger">
      <li><%= 'タイトル' + e %>
    </div>
  <% end %>
  <div class="title">
    <label>タイトル</label>
    <%= form.text_field :title, class: 'form-control', required: true %>
  </div>

  <% form.object.errors.messages[:picture].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '画像' + e %>
    </div>
  <% end %>
  <div class="picture">
    <label>画像<font class="asterisk">＊</font></label>
    <%= form.file_field :picture, class: 'form-control' %>
  </div>

  <% form.object.errors.messages[:type].each do |e| %>
    <div class="alert alert-danger">
      <li><%= 'タイプ' + e %>
    </div>
  <% end %>
  <div class="type_id">
    <label>タイプ<font class="asterisk">＊</font></label>
    <%= form.collection_select :type_id, RestaurantPictureType.all, :id, :name, {}, class: 'form-control', required: true %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
