<%= form_with(model: restaurant, local: true, class: 'restaurant_form container custom-form-container') do |form| %>
<p><font class="asterisk">＊</font>が付いている項目は入力必須です</p>

  <% form.object.errors.messages[:name].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '店名' + e %>
    </div>
  <% end %>
  <div class="name">
    <label>店名<font class="asterisk">＊</font></label>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <% form.object.errors.messages[:category].each do |e| %>
    <div class="alert alert-danger">
      <li><%= 'カテゴリ' + e %>
    </div>
  <% end %>
  <div class="category_id">
    <label>カテゴリー<font class="asterisk">＊</font></label>
    <%= form.collection_select :category_id, Category.all, :id, :name, {}, class: 'form-control', required: true %>
  </div>

  <% form.object.errors.messages[:image].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '画像' + e %>
    </div>
  <% end %>
  <div class="image">
    <label>画像</label>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <% form.object.errors.messages[:email].each do |e| %>
    <div class="alert alert-danger">
      <li><%= 'メールアドレス' + e %>
    </div>
  <% end %>
  <div class="email">
    <label>メールアドレス<font class="asterisk">＊</font></label>
    <%= form.text_field :email, class: 'form-control', required: true %>
  </div>

  <% form.object.errors.messages[:address].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '住所' + e %>
    </div>
  <% end %>
  <div class="address" id="address_form">
    <label>住所</label>
    <div class="form-row">
      <% Prefecture.all.each do |p| %>
        <%= link_to "#{p.name}", get_municipality_form_restaurants_path(prefecture_id: p.id), remote: true, id: "municipality_form_request#{p.id}", hidden: true %>
      <% end %>
      <div class="form-group col-sm-2">
        <%= form.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, class: 'form-control', id: 'prefecture_form' %>
      </div>
      <div class="form-group col-sm-4" id="municipality_form">
        <%= form.collection_select :municipality_id, Prefecture.first.municipalities, :id, :name, {}, class: 'form-control' %>
      </div>
      <div class="form-group col-sm-6">
        <%= form.text_field :address3, class: 'form-control', placeholder: '〇〇町△△丁目 123-45' %>
      </div>
    </div>
  </div>

  <% form.object.errors.messages[:phone_number].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '電話番号' + e %>
    </div>
  <% end %>
  <div class="phone_number">
    <label>電話番号</label>
    <%= form.text_field :phone_number, class: 'form-control' %>
  </div>

  <% form.object.errors.messages[:business_hours].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '営業時間' + e %>
    </div>
  <% end %>
  <div class="business_hours">
    <label>営業時間</label>
    <%= form.text_field :business_hours, class: 'form-control', placeholder: '昼 11:00 ~ 14:00     夜 17:00 ~ 22:00' %>
  </div>

  <% form.object.errors.messages[:regular_holiday].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '定休日' + e %>
    </div>
  <% end %>
  <div class="regular_holiday">
    <label>定休日</label>
    <%= form.text_field :regular_holiday, class: 'form-control', placeholder: '毎週水曜日' %>
  </div>

  <% form.object.errors.messages[:morning_budget].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '予算(朝)' + e %>
    </div>
  <% end %>
  <% form.object.errors.messages[:noon_budget].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '予算(昼)' + e %>
    </div>
  <% end %>
  <% form.object.errors.messages[:night_budget].each do |e| %>
    <div class="alert alert-danger">
      <li><%= '予算(夜)' + e %>
    </div>
  <% end %>
  <div class="budget">
    <label>予算</label>
    <div class="budgets">
      <label>朝</label>
      <%= form.number_field :morning_budget, min:0, class: 'form-control', placeholder: '500' %>
      <label>昼</label>
      <%= form.number_field :noon_budget, min:0, class: 'form-control', placeholder: '700' %>
      <label>夜</label>
      <%= form.number_field :night_budget, min:0, class: 'form-control', placeholder: '2000' %>
    </div>
  </div>

  <% form.object.errors.messages[:home_page].each do |e| %>
    <div class="alert alert-danger">
      <li><%= 'ホームページ' + e %>
    </div>
  <% end %>
  <div class="home_page">
    <label>ホームページ</label>
    <%= form.text_field :home_page, class: 'form-control' %>
  </div>

  <% form.object.errors.messages[:password].each do |e| %>
    <div class="alert alert-danger">
      <li><%= 'パスワード' + e %>
    </div>
  <% end %>
  <div class="password">
    <label>パスワード<font class="asterisk">＊</font></label>
    <%= form.password_field :password, class: 'form-control', required: true %>
  </div>

  <% form.object.errors.messages[:password_confirmation].each do |e| %>
    <div class="alert alert-danger">
      <li><%= 'パスワード確認' + e %>
    </div>
  <% end %>
  <div class="password_confirmation">
    <label>パスワード確認<font class="asterisk">＊</font></label>
    <%= form.password_field :password_confirmation, class: 'form-control', required: true %>
  </div>

  <% form.object.errors.messages[:profile].each do |e| %>
    <div class="alert alert-danger">
      <li><%= 'プロフィール' + e %>
    </div>
  <% end %>
  <div class="profile">
    <label>プロフィール</label>
    <%= form.text_area :profile, class: 'form-control', placeholder: '800字以内でご記入ください' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<div id="test">
</div>

<script type="text/javascript">
  var prefecture_form = document.getElementById("prefecture_form");

  prefecture_form.onchange = function(){
    console.log(prefecture_form.value);

    var municipality_form_request = document.getElementById("municipality_form_request" + prefecture_form.value);
    municipality_form_request.click();
  }
</script>
