<% if @menus.present? %>
  <div class="menus">
    <label class="type_name"><%= @menus.first.type.name %></label>
    <% @menus.each do |m| %>
      <div class="menu">
        <p><span class="name"><%= m.name %></span><span class="price"><%= m.price %>円</span>
      </div>
    <% end %>
  </div>
<% end %>