<% if @pictures.present? %>
  <div class="pictures">
    <label class="type_name"><%= @pictures.first.type.name %></label>
    <% @pictures.each do |p| %>
      <div class="picture">
        <div class="image">
          <%= image_tag p.picture_url if p.picture_url %>
        </div>
        <p class="title"><%= p.title %>
      </div>
    <% end %>
  </div>
<% end %>
