<%= link_to(restaurant_path(restaurant)) do %>
  <div class="restaurant">
    <div class="image">
      <%= image_tag restaurant.image_url if restaurant.image_url %>
    </div>
  
    <h1 class="name">
      <span><%= restaurant.name %></span>
    </h1>
    <label class="category">
      <%= restaurant.category.name %>
    </label>
  
    <div class="profile">
      <p><%= simple_format(restaurant.profile) %></p>
    </div>
  </div>
<% end %>

