<div class="sideber">
  <div id="search_from_place">
    <%= check_box_tag 'search_from_place_checkbox', 'value', false, class: 'display_switch_button' %>
    <label class="button" for="search_from_place_checkbox">都道府県から探す</label>
    <div class="search_from_place_links" id="search_from_place_links">
      <%= render 'restaurants/index/search_prefecture_link' %>
    </div>
  </div>
  <div id="search_from_budget">
    <%= check_box_tag 'search_from_budget_checkbox', 'value', false, class: 'display_switch_button' %>
    <label class="button" for="search_from_budget_checkbox">予算から探す</label>
    <div class="search_from_budget" id="search_from_budget">
      <span><%= link_to "予算", search_from_budget_restaurants_path, class: 'link' %></span>
    </div>
  </div>
</div>