<div class="container">
  <div class="top_search_form">
    <%= render 'shared/search_form' %>
  </div>
  <div class="row">
    <div class="col-sm-5 col-md-4 side_search_form">
      <%= render 'restaurants/sideber' %>
    </div>
    <div class="col-sm-7 col-md-8">
      <div class="restaurants">
        <% if @restaurants.present? %>
          <%= render @restaurants %>
        <% else %>
          <p class="msg">検索にヒットしませんでした
        <% end %>
      </div>
    </div>
  </div>
</div>