<div class="show_restaurant container">
  <div class="image">
    <%= image_tag @restaurant.image_url if @restaurant.image_url %>
  </div>

  <h1 class="name">
    <span><%= @restaurant.name %></span>
  </h1>
  <label class="category">
    <%= @restaurant.category.name %>
  </label>

  <div class="profile">
    <td><%= simple_format(@restaurant.profile) %>
  </div>

  <%= render 'restaurants/shows/drop_down' %>

  <label class="info_label">店舗情報</label>
  <table class="text_base_info">
    <tr class="phone_number">
      <th><label>電話番号</label></th>
      <td><span><%= @restaurant.phone_number %></span></td>
    </tr>
    
    <tr class="address">
      <th><label>住所</label></th>
      <td><span><%= @restaurant.address %></span></td>
    </tr>
    
    <tr class="business_hours">
      <th><label>営業時間</label></th>
      <td><span><%= @restaurant.business_hours %></span></td>
    </tr>
    
    <tr class="regular_holiday">
      <th><label>定休日</label></th>
      <td><span><%= @restaurant.regular_holiday %></span></td>
    </tr>
    
    <tr class="budget">
      <th><label>予算</label></th>
      <td>
        <span>朝<%= @restaurant.morning_budget if @restaurant.morning_budget.present? %></span><br>
        <span>朝<%= @restaurant.noon_budget if @restaurant.noon_budget.present? %></span><br>
        <span>朝<%= @restaurant.night_budget if @restaurant.night_budget.present? %></span>
      </td>
    </tr>
    
    <tr class="home_page">
      <th><label>HP</label></th>
      <td><span><%= @restaurant.home_page %></span></td>
    </tr>
  </table>
  <% if @restaurant.latitude.present? && @restaurant.longitude.present? %>
    <%= render 'restaurants/shows/map' %>
  <% end %>
</div>

<script type="text/javascript">
  if(<%= @restaurant.latitude %> != null && <%= @restaurant.longitude %> != null){
    function initMap() {
      var restaurant ={lat: <%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: restaurant
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);
  
      var contentString = '住所：<%= @address %>';
      var infowindow = new google.maps.InfoWindow({
          content: contentString
      });
  
      var marker = new google.maps.Marker({
          position: restaurant,
          map: map,
          title: contentString
      });
  
      marker.addListener('click', function() {
          infowindow.open(map, marker);
      });
    }
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyC8l2Eh8zAtS62Lw8hY1mU-iO68Gaw9C6Y&callback=initMap">
</script>