.message_form{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  div{
    margin-bottom: 15px;
  }
  .image{
    input{
      height: 42px;
    }
  }
  textarea{
    height: 30em !important;
  }
  .actions{
    text-align: center;
  }
}


