.messages{
  padding: 15px;
  margin-top: 50px;
  .message{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    .image{
      text-align: center;
      background-color: #fff;
      margin-bottom: 15px;
      img{
        max-width: 100%;
        border-radius: 3px;
      }
    }
    .sender_name{
    }
    .text{}
    .times{
      margin: 0;
      text-align: right;
    }
  }
}


