<div class="search_form_background">
  <div class="slider">
    <div class="costom_container">
      <p>リアルタイムのお店の情報を手に入れよう</p>
      <%= render 'shared/search_form' %>
    </div>
    <div class="slide" style="background-image: url(/images/search_form_background.jpg);"></div>
    <div class="slide" style="background-image: url(/images/hamburger.jpg);"></div>
  </div>
</div>



<script type="text/javascript">
function slide(){
  var speed = 1000; 
  var interval = 5000; 
  var slide = $('.slider .slide');

  var length = slide.length-1;
  var count = length;
  setInterval(function(){
    $(slide[count]).fadeOut(speed);
    if ( count >= length ) {
      count = 0;
    } else {
      count++;
    }
    $(slide[count]).fadeIn(speed);
  }, interval);
}
slide();
</script>
