<header>
  <div class="container">
    <div class="row">
      <div class="header_nav container">
        <div class="logo">
          <%= link_to 'sign board', root_path %>
        </div>
        <% if logged_in? %>
          <div class="send"><%= link_to 'メッセージを送る', new_restaurant_message_path %></div>
          <div class="logout"><%= link_to 'ログアウト', logout_path, method: :delete %></div>
        <% else %>
          <div class="signup"><%= link_to 'サインアップ', signup_path %></div>
          <div class="login"><%= link_to 'ログイン', login_path %></div>
        <% end %>
      </div>
    </div>
  </div>
</header>
