<div class="row search_prefecture_link">
  <div class="col-xs-12 area hokkaido">
    <p>北海道</p>
    <div class="prefecture_links">
      <%= link_to "北海道", get_search_municipality_link_restaurants_path(prefecture_id: 1), remote: true %>
    </div>
  </div>
  <div class="col-xs-12 area kanto">
    <p>関東</p>
    <div class="prefecture_links">
      <%= link_to "東京", get_search_municipality_link_restaurants_path(prefecture_id: 13), remote: true %>
      <%= link_to "茨城", get_search_municipality_link_restaurants_path(prefecture_id: 8), remote: true %>
      <%= link_to "栃木", get_search_municipality_link_restaurants_path(prefecture_id: 9), remote: true %>
      <%= link_to "群馬", get_search_municipality_link_restaurants_path(prefecture_id: 10), remote: true %>
      <%= link_to "埼玉", get_search_municipality_link_restaurants_path(prefecture_id: 11), remote: true %>
      <%= link_to "千葉", get_search_municipality_link_restaurants_path(prefecture_id: 12), remote: true %>
      <%= link_to "神奈川", get_search_municipality_link_restaurants_path(prefecture_id: 14), remote: true %>
    </div>
  </div>
  <div class="col-xs-12 area tohoku">
    <p>東北</p>
    <div class="prefecture_links">
      <%= link_to "青森", get_search_municipality_link_restaurants_path(prefecture_id: 2), remote: true %>
      <%= link_to "岩手", get_search_municipality_link_restaurants_path(prefecture_id: 3), remote: true %>
      <%= link_to "宮城", get_search_municipality_link_restaurants_path(prefecture_id: 4), remote: true %>
      <%= link_to "秋田", get_search_municipality_link_restaurants_path(prefecture_id: 5), remote: true %>
      <%= link_to "山形", get_search_municipality_link_restaurants_path(prefecture_id: 6), remote: true %>
      <%= link_to "福島", get_search_municipality_link_restaurants_path(prefecture_id: 7), remote: true %>
    </div>
  </div>
  <div class="col-xs-12 area tyubu">
    <p>中部</p>
    <div class="prefecture_links">
      <%= link_to "新潟", get_search_municipality_link_restaurants_path(prefecture_id: 15), remote: true %>
      <%= link_to "富山", get_search_municipality_link_restaurants_path(prefecture_id: 16), remote: true %>
      <%= link_to "石川", get_search_municipality_link_restaurants_path(prefecture_id: 17), remote: true %>
      <%= link_to "福井", get_search_municipality_link_restaurants_path(prefecture_id: 18), remote: true %>
      <%= link_to "山梨", get_search_municipality_link_restaurants_path(prefecture_id: 19), remote: true %>
      <%= link_to "長野", get_search_municipality_link_restaurants_path(prefecture_id: 20), remote: true %>
      <%= link_to "岐阜", get_search_municipality_link_restaurants_path(prefecture_id: 21), remote: true %>
      <%= link_to "静岡", get_search_municipality_link_restaurants_path(prefecture_id: 22), remote: true %>
      <%= link_to "愛知", get_search_municipality_link_restaurants_path(prefecture_id: 23), remote: true %>
    </div>
  </div>
  <div class="col-xs-12 area tyugoku">
    <p>中国</p>
    <div class="prefecture_links">
      <%= link_to "鳥取", get_search_municipality_link_restaurants_path(prefecture_id: 31), remote: true %>
      <%= link_to "島根", get_search_municipality_link_restaurants_path(prefecture_id: 32), remote: true %>
      <%= link_to "岡山", get_search_municipality_link_restaurants_path(prefecture_id: 33), remote: true %>
      <%= link_to "広島", get_search_municipality_link_restaurants_path(prefecture_id: 34), remote: true %>
      <%= link_to "山口", get_search_municipality_link_restaurants_path(prefecture_id: 35), remote: true %>
    </div>
  </div>
  <div class="col-xs-12 area kinki">
    <p>近畿</p>
    <div class="prefecture_links">
      <%= link_to "京都", get_search_municipality_link_restaurants_path(prefecture_id: 26), remote: true %>
      <%= link_to "大阪", get_search_municipality_link_restaurants_path(prefecture_id: 27), remote: true %>
      <%= link_to "三重", get_search_municipality_link_restaurants_path(prefecture_id: 24), remote: true %>
      <%= link_to "滋賀", get_search_municipality_link_restaurants_path(prefecture_id: 25), remote: true %>
      <%= link_to "兵庫", get_search_municipality_link_restaurants_path(prefecture_id: 28), remote: true %>
      <%= link_to "奈良", get_search_municipality_link_restaurants_path(prefecture_id: 29), remote: true %>
      <%= link_to "和歌山", get_search_municipality_link_restaurants_path(prefecture_id: 30), remote: true %>
    </div>
  </div>
  <div class="col-xs-12 area sikoku">
    <p>四国</p>
    <div class="prefecture_links">
      <%= link_to "徳島", get_search_municipality_link_restaurants_path(prefecture_id: 36), remote: true %>
      <%= link_to "香川", get_search_municipality_link_restaurants_path(prefecture_id: 37), remote: true %>
      <%= link_to "愛媛", get_search_municipality_link_restaurants_path(prefecture_id: 38), remote: true %>
      <%= link_to "高知", get_search_municipality_link_restaurants_path(prefecture_id: 39), remote: true %>
    </div>
  </div>
  <div class="col-xs-12 area kyusyu">
    <p>九州</p>
    <div class="prefecture_links">
      <%= link_to "福岡", get_search_municipality_link_restaurants_path(prefecture_id: 40), remote: true %>
      <%= link_to "佐賀", get_search_municipality_link_restaurants_path(prefecture_id: 41), remote: true %>
      <%= link_to "長崎", get_search_municipality_link_restaurants_path(prefecture_id: 42), remote: true %>
      <%= link_to "熊本", get_search_municipality_link_restaurants_path(prefecture_id: 43), remote: true %>
      <%= link_to "大分", get_search_municipality_link_restaurants_path(prefecture_id: 44), remote: true %>
      <%= link_to "宮崎", get_search_municipality_link_restaurants_path(prefecture_id: 45), remote: true %>
      <%= link_to "鹿児島", get_search_municipality_link_restaurants_path(prefecture_id: 46), remote: true %>
      <%= link_to "沖縄", get_search_municipality_link_restaurants_path(prefecture_id: 47), remote: true %>
    </div>
  </div>
</div>




