<p class="title"><%= link_to "<<戻る", get_search_prefecture_link_restaurants_path, remote: true %></p>
<div class="search_prefecture_link">
  <p><%= link_to "#{@prefecture.name}", search_from_prefecture_restaurants_path(prefecture_id: @prefecture.id) %></p>
</div>
<% if @municipalities.present? %>
  <div class="search_municipality_link">
    <% @municipalities.each do |m| %>
      <span><%= link_to "#{m.name}", search_from_municipality_restaurants_path(municipality_id: m.id), class: 'link' %></span>
    <% end %>
  </div>
<% end %>